{% extends '@App/layouts/base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="col-md-12">
                <h3>Create instance foe business</h3>
                <hr>
                {{ form_start(form) }}
                {{ form_widget(form)}}
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}