{% extends '@App/layouts/base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="col-md-12">
                <h3>Create instance for business</h3>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_start(form) }}
                        {{ form_widget(form)}}
                        <button class="btn btn-success text-right" type="submit">Create </button>
                        {#<button class="btn btn-primary text-right" onklick="window.history.(go-1);return false;">Cancel </button>#}
                        <a href="{{ asset('#instances') }}" class="btn btn-primary text-right">Cancel </a>

                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}