{% extends '@App/layouts/base.html.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="container-fluid">
            Resources
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}