<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    {% block stylesheets %}

    {% endblock %}
</head>

<body class="fixed-nav sticky-footer bg-dark">
{% include '@App/layouts/navigation.html.twig' %}

{% block body %}

{% endblock %}
<!-- Bootstrap core JavaScript-->
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="{{ asset('js/bootstrap-tab-history.js') }}"></script>
<!-- Core plugin JavaScript-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    $(function () {

        $('#myTab li:last-child a').tab({event: "onclick"});


// Load Charts and the corechart package.
        google.charts.load('current', {'packages': ['corechart']});

// Draw the pie chart for Sarah's pizza when Charts is loaded.
        google.charts.setOnLoadCallback(drawCPUChart);
        google.charts.setOnLoadCallback(drawRAMChart);
        google.charts.setOnLoadCallback(drawHDDChart);
        google.charts.setOnLoadCallback(drawSarahChartc);
        google.charts.setOnLoadCallback(drawSarahChartd);


// Callback that draws the pie chart for Sarah's pizza.
        function drawCPUChart() {
            var jsonData = $.ajax({
                url: "http://cubereviews.com/reports/reportCPU.json",
                dataType: "json",
                async: false
            }).responseText;
            var data = new google.visualization.DataTable(jsonData);

            var chart = new google.visualization.AreaChart(document.getElementById('CPU_chart_div'));
            chart.draw(data);
        }

        function drawRAMChart() {
            var jsonData = $.ajax({
                url: "http://cubereviews.com/reports/reportRAM.json",
                dataType: "json",
                async: false
            }).responseText;
            var data = new google.visualization.DataTable(jsonData);

            var chart = new google.visualization.AreaChart(document.getElementById('RAM_chart_div'));
            chart.draw(data, {width: 400, height: 240});
        }

        function drawHDDChart() {
            var jsonData = $.ajax({
                url: "http://cubereviews.com/reports/reportHDD.json",
                dataType: "json",
                async: false
            }).responseText;
            var data = new google.visualization.DataTable(jsonData);

            var chart = new google.visualization.AreaChart(document.getElementById('HDD_chart_div'));
            chart.draw(data);
        }

        function drawSarahChartc() {

// Create the data table for Sarah's pizza.
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Sales', 'Expenses'],
                ['2013', 1000, 400],
                ['2014', 1170, 460],
                ['2015', 660, 1120],
                ['2016', 1030, 1340]
            ]);

            var options = {
                title: 'Company Performance3',
                height: 300,
                hAxis: {title: 'Year', titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0}
            };
// Instantiate and draw the chart for Sarah's pizza.
            var chart = new google.visualization.AreaChart(document.getElementById('Sarah_chart_div_c'));
            chart.draw(data, options);
        }

        function drawSarahChartd() {

// Create the data table for Sarah's pizza.
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Sales', 'Expenses'],
                ['2013', 1000, 400],
                ['2014', 1170, 460],
                ['2015', 660, 1120],
                ['2016', 1030, 1340]
            ]);

            var options = {
                title: 'Company Performance4',
                height: 300,
                hAxis: {title: 'Year', titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0}
            };
// Instantiate and draw the chart for Sarah's pizza.
            var chart = new google.visualization.AreaChart(document.getElementById('Sarah_chart_div_d'));
            chart.draw(data, options);
        }
    });
</script>

{% block javascripts %}
{% endblock %}

</body>

</html>


