<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dashboard - Boom Reviews</title>
    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    {% block stylesheets %}

    {% endblock %}
</head>

<body class="fixed-nav sticky-footer bg-dark">
{% if  app.request.attributes.get('_route') in ['sign-in', 'registration'] == false %}
    {% include '@App/layouts/navigation.html.twig' %}
{% endif %}

{% block body %}

{% endblock %}
<!-- Bootstrap core JavaScript-->
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="{{ asset('js/bootstrap-tab-history.js') }}"></script>
<!-- Core plugin JavaScript-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    $(function () {
        $('#myTab li:last-child a').tab({event: "onclick"});


// Load Charts and the corechart package.
        google.charts.load('current', {'packages': ['corechart']});

        google.charts.setOnLoadCallback(drawCPUChart);
        google.charts.setOnLoadCallback(drawRAMChart);
        google.charts.setOnLoadCallback(drawHDDChart);
        google.charts.setOnLoadCallback(drawIssuedChart);
        google.charts.setOnLoadCallback(drawPriceChart);
        google.charts.setOnLoadCallback(drawActiveChart);
        google.charts.setOnLoadCallback(drawSuspendedChart);



        function drawCPUChart() {
            var jsonData = $.ajax({
                url: "/reports/reportCPU.json",
                dataType: "json",
                async: false
            }).responseText;
            var data = new google.visualization.DataTable(jsonData);

            var options = {
                height: 240,
                legend:'none',
                hAxis: {},
                pointSize:5,
                pointShape:'circle',
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.AreaChart(document.getElementById('CPU_chart_div'));
            chart.draw(data,options);
        }

        function drawRAMChart() {
            var jsonData = $.ajax({
                url: "/reports/reportRAM.json",
                dataType: "json",
                async: false
            }).responseText;
            var data = new google.visualization.DataTable(jsonData);

            var options = {
                height: 240,
                legend:'none',
                hAxis: {},
                pointSize:5,
                pointShape:'circle',
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.AreaChart(document.getElementById('RAM_chart_div'));
            chart.draw(data, options);
        }

        function drawHDDChart() {
            var jsonData = $.ajax({
                url: "/reports/reportHDD.json",
                dataType: "json",
                async: false
            }).responseText;
            var data = new google.visualization.DataTable(jsonData);

            var options = {
                height: 240,
                legend:'none',
                hAxis: {},
                pointSize:5,
                pointShape:'circle',
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.AreaChart(document.getElementById('HDD_chart_div'));
            chart.draw(data,options);
        }

        function drawIssuedChart() {
            var jsonData = $.ajax({
                url: "/charts/issuedLicense.json",
                dataType: "json",
                async: false
            }).responseText;
            var data = new google.visualization.DataTable(jsonData);

            var options = {
                height: 300,
                legend:'none',
                hAxis: { title: 'Issued', titleTextStyle: {color: '#ccc'}},
                colors:['green'],
                pointSize:5,
                pointShape:'circle',
                vAxis: {minValue:0}
            };

            var chart = new google.visualization.AreaChart(document.getElementById('Issued_chart'));
            chart.draw(data,options);
        }

        function drawPriceChart() {
            var jsonData = $.ajax({
                url: "/charts/priceInvoice.json",
                dataType: "json",
                async: false
            }).responseText;
            var data = new google.visualization.DataTable(jsonData);

            var options = {
                height: 300,
                legend:'none',
                hAxis: {title: 'Revenue', titleTextStyle: {color: '#ccc'}},
                colors:['gray'],
                pointSize:5,
                pointShape:'circle',
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.AreaChart(document.getElementById('Price_chart'));
            chart.draw(data,options);
        }

        function drawActiveChart() {
            var jsonData = $.ajax({
                url: "/charts/activeInstance.json",
                dataType: "json",
                async: false
            }).responseText;
            var data = new google.visualization.DataTable(jsonData);

            var options = {
                height: 300,
                legend:'none',
                hAxis: {title: 'Active Instances', titleTextStyle: {color: '#ccc'}},
                colors:['orange'],
                pointSize:5,
                pointShape:'circle',
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.AreaChart(document.getElementById('Active_chart'));
            chart.draw(data,options);
        }

        function drawSuspendedChart() {
            var jsonData = $.ajax({
                url: "/charts/suspendedInstance.json",
                dataType: "json",
                async: false
            }).responseText;
            var data = new google.visualization.DataTable(jsonData);

            var options = {
                height: 300,
                legend:'none',
                hAxis: {title: 'Active Instances', titleTextStyle: {color: '#ccc'}},
                colors:['red'],
                pointSize:5,
                pointShape:'circle',
                vAxis: {minValue: 0}
            };

            var chart = new google.visualization.AreaChart(document.getElementById('Suspended_chart'));
            chart.draw(data,options);
        }
    });
</script>

{% block javascripts %}
{% endblock %}

</body>

</html>


